body {
    font-family: sans-serif;
    background-color: rgb(211, 211, 212);
    overflow: hidden;
}

.start {
    position: fixed;
    padding: 30px;
    font-size: 80px;
    top: 50%;
    left: 50%;
    border: burlywood;
    border-radius: 1%;
    transform: translate(-50%, -50%);
}

.remove {
    display: none;
}

.score {
    position: absolute;
    font-size: 30px;
    background-color: cadetblue;
    color: white;
    padding: 10px;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restart {
    top: 5%;
    left: 3%;
    font-size: 15px;
    padding: 7px;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 1.6;
}


.hole {
    position: absolute;
    background-color:rgb(84, 93, 139);
    border: 2px solid rgb(39, 39, 85);
	height: 50px;
	width: 50px;
    border-radius: 50%;
}
.ball {
    position: absolute;
    background-color: rgb(206, 36, 6);
    border: 2px solid rgb(255, 0, 34);
	height: 30px;
	width: 30px;
    border-radius: 50%;
    left: 200px;
    top: 200px;

}

span {
    padding: 19px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px rgb(61, 62, 68);
}

