body {
    font-family: sans-serif;
    background-color: rgb(211, 211, 212);
    overflow: hidden;
    position: relative;
}

main{
    margin-top: 50px;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    width: 90vw;
    height: 90vh;
    border: 2px solid black;
}

.canvas {
    margin-left: auto;
    margin-right: auto;
}

.backGroundGame{
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(205, 239, 255);
    position: absolute;
    z-index: 1000;
}

.start {
    z-index: 1000;
    position: fixed;
    padding: 30px;
    font-size: 80px;
    top: 50%;
    left: 50%;
    border: burlywood;
    border-radius: 1%;
    transform: translate(-50%, -50%);
}

.remove {
    display: none;
}

.score {
    position: absolute;
    font-size: 25px;
    background-color: cadetblue;
    color: white;
    padding: 8px;
    border: 1px solid rgb(144, 144, 209);
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.timer{
    position: absolute;
    top: 2%;
    right: 5%;
}

.message{
    background-color: rgb(229, 226, 226);
    padding: 20px;
    color: black;
    z-index: 1000;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1.6;
    position: fixed;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.restart {
    position: fixed;
    top: 2%;
    left: 3%;
    font-size: 15px;
    padding: 7px;
    margin: 10px;
    font-weight: bold;
    letter-spacing: 1.6;
}

.hole span{
    padding-left: 15px;
}

.hole {
    position: absolute;
    background-color:rgb(84, 93, 139);
    border: 2px solid rgb(39, 39, 85);
	height: 50px;
	width: 50px;
    border-radius: 50%;
}
.ball {
    position: absolute;
    background-color: rgb(206, 36, 6);
    border: 2px solid rgb(255, 0, 34);
	height: 30px;
	width: 30px;
    border-radius: 50%;
    left: 100px;
    top: 100px;
}

span {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px rgb(61, 62, 68);
}

