body{
    position: relative;
    margin: 0;
    background-image: linear-gradient(to top, #dbdcd7 0%, #dddcd7 24%, #e2c9cc 30%, #e7627d 46%, #b8235a 59%, #801357 71%, #3d1635 84%, #1c1a27 100%);
    min-height: 100vh;
    overflow-y: hidden;
    font-family: 'Oswald', sans-serif;
}



.canvas{
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background:grey;
}

.info{
    margin: 30px;
    top: 0;
    display: grid;
    position: absolute;
}
.start,
.restart{
    font-size: 30px;
    text-align: center;
	display: inline-block;
	margin:15px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
	border-radius: 7px;
    box-shadow: 0 5px gray; 
    cursor: pointer;
    outline: none;
}

.start:active,
.restart:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}

span{
    transform-style: preserve-3d;
    margin: 15px;
    text-align: center;
    font-size:50px;
    font-weight: bold;
    line-height: 70px;
    color: gray;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    border-radius: 7px;
    box-shadow: 2px gray;
}