html *{
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: rgb(238, 247, 247);
}


h1,
h2,
h3,
h4,
p {
    letter-spacing: 1px;
}

button {
    color: white;
    background: rgb(84, 141, 143);
    border: none;
    font-size: large;
}

::placeholder {
    font-size: large;
    font-family: sans-serif;
}

.main-header {
    color: white;
    width: 100vw;
    background: rgb(84, 141, 143);
    padding: 20px;
}

.header-title {
    width: 50%;
}

.logo {
    padding: 20px;
    float: left;
    width: max-content;
}

.logo img {
    width: 40px;
    height: auto;
}

.note-add {
    display: table-caption;
    font-size: 20px;
    padding: 10px 30px 5px 30px;
}

.note-add input {
    font-size: large;
    padding: 10px;
    margin: 10px 10px 10px 0;
}

.note-add textarea {
    font-size: large;
    padding: 10px;
    margin: 10px 10px 10px 0;
}

#noteTitle {
    width: 240px;
}

#newNoteBtn {
    float: right;
    margin: 10px 15px 10px 7px;
    padding: 12px;
}

#newNoteBtn:hover {
    background: rgb(71, 121, 122);
}

.more-options {
    display: flex;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
}

input[type=checkbox] + label {
    background-image: url(images/icons8-pin-26.png);
    background-color: transparent;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    display:inline-block;
    margin-top: 5px;

}



.removeBtn {
    margin-left: 15px;
    padding: 10px;
}

select {
    padding: 5px 10px;
    margin: 5px 5px 5px 30px;
}

option {
    pointer-events: none;
}

.select-bgcolor option[value="red"] {
    background: red;
}
.select-bgcolor option[value="pink"] {
    background: pink;
}
.select-bgcolor option[value="orange"] {
    background: orange;
}
.select-bgcolor option[value="yellow"] {
    background: yellow;
}
.select-bgcolor option[value="green"] {
    background: green;
}
.select-bgcolor option[value="blue"] {
    background: blue;
}
.select-bgcolor option[value="purple"] {
    background: purple;
}
.select-bgcolor option[value="grey"] {
    background: grey;
}
.select-bgcolor option[value="white"] {
    background: white;
}

.main-container{
    display: flex;
}

.note-container{
    width: min-content;
}

.pinned-notes{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}

main {

    display: flex;
    flex-wrap: wrap;
}

.note {
    width: 24em;
    margin: 30px;
    padding: 20px 20px 20px 30px;
    background: #fff;
    border-radius: 2%;
    box-shadow: 0 0.9rem 1.2rem rgba(0,0,0, 0.1);
    border-bottom: 5px solid red;
}

.note p {
    overflow-wrap: break-word;
}