html { 
    background: rgb(161, 176, 190);
    overflow: hidden;
}


p {
    position: absolute;
    font-size: 40px;
    color: rgb(198, 218, 238);
    top: 150px;   
    left: 50%;
    transform: translate(-50%, -50%);
}
