html { 
    background: url('img/ming-lv-t0JcNLalA7k-unsplash.jpg');
    overflow: hidden;
}


p {
    position: absolute;
    font-size: 40px;
    color: rgb(244, 249, 255);
    top: 150px;   
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    position: absolute;
    width: 100px;
}
